ATLAS_DOMAIN=xaverric.cz
KC_HOSTNAME=auth.xaverric.cz
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=changeme
KC_DB_PASSWORD=changeme
GITHUB_REPO=yourusername/atlas-lab
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=changeme
INTERNAL_KEY=changeme
AI_API_KEY=changeme
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:admin@xaverric.cz
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
TWILIO_WHATSAPP_FROM=
SIGNAL_FROM_NUMBER=
N8N_USER=admin
N8N_PASSWORD=changeme
N8N_ENCRYPTION_KEY=changeme
